@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(0.9835 0.0059 350.7941);
  --foreground: oklch(0.1377 0.0257 345.0017);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1377 0.0257 345.0017);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1377 0.0257 345.0017);
  --primary: oklch(0.5440 0.1871 344.5442);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6419 0.2695 348.2567);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9496 0.0133 340.5502);
  --muted-foreground: oklch(0.4621 0.0516 345.4236);
  --accent: oklch(0.8891 0.0257 345.8839);
  --accent-foreground: oklch(0.1377 0.0257 345.0017);
  --destructive: oklch(0.6020 0.2173 16.8416);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8891 0.0257 345.8839);
  --input: oklch(0.8891 0.0257 345.8839);
  --ring: oklch(0.5440 0.1871 344.5442);
  --chart-1: oklch(0.5440 0.1871 344.5442);
  --chart-2: oklch(0.6419 0.2695 348.2567);
  --chart-3: oklch(0.5431 0.0927 194.7689);
  --chart-4: oklch(0.4127 0.1326 268.7386);
  --chart-5: oklch(0.6602 0.2294 35.4025);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.1377 0.0257 345.0017);
  --sidebar-primary: oklch(0.5440 0.1871 344.5442);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9496 0.0133 340.5502);
  --sidebar-accent-foreground: oklch(0.1377 0.0257 345.0017);
  --sidebar-border: oklch(0.8891 0.0257 345.8839);
  --sidebar-ring: oklch(0.5440 0.1871 344.5442);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
  --radius: 0.75rem;
  --shadow-2xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0px;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1613 0.0199 348.1565);
  --foreground: oklch(0.9835 0.0059 350.7941);
  --card: oklch(0.1931 0.0290 346.9329);
  --card-foreground: oklch(0.9835 0.0059 350.7941);
  --popover: oklch(0.1613 0.0199 348.1565);
  --popover-foreground: oklch(0.9835 0.0059 350.7941);
  --primary: oklch(0.6353 0.1642 339.7410);
  --primary-foreground: oklch(0.1613 0.0199 348.1565);
  --secondary: oklch(0.6419 0.2695 348.2567);
  --secondary-foreground: oklch(0.1613 0.0199 348.1565);
  --muted: oklch(0.2279 0.0417 344.5582);
  --muted-foreground: oklch(0.6746 0.0551 313.6531);
  --accent: oklch(0.2632 0.0506 345.8096);
  --accent-foreground: oklch(0.9835 0.0059 350.7941);
  --destructive: oklch(0.6020 0.2173 16.8416);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2632 0.0506 345.8096);
  --input: oklch(0.2632 0.0506 345.8096);
  --ring: oklch(0.6353 0.1642 339.7410);
  --chart-1: oklch(0.6353 0.1642 339.7410);
  --chart-2: oklch(0.6419 0.2695 348.2567);
  --chart-3: oklch(0.6912 0.1142 188.9617);
  --chart-4: oklch(0.5874 0.1383 271.1503);
  --chart-5: oklch(0.6962 0.1955 32.3214);
  --sidebar: oklch(0.1613 0.0199 348.1565);
  --sidebar-foreground: oklch(0.9835 0.0059 350.7941);
  --sidebar-primary: oklch(0.6353 0.1642 339.7410);
  --sidebar-primary-foreground: oklch(0.1613 0.0199 348.1565);
  --sidebar-accent: oklch(0.2279 0.0417 344.5582);
  --sidebar-accent-foreground: oklch(0.9835 0.0059 350.7941);
  --sidebar-border: oklch(0.2632 0.0506 345.8096);
  --sidebar-ring: oklch(0.6353 0.1642 339.7410);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
  --radius: 0.75rem;
  --shadow-2xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 4px 12px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 0px 4px 12px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0px 4px 12px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0px 4px 12px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0px 4px 12px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0px 4px 12px 0px hsl(0 0% 0% / 1.00);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
